@reference "./globals.css";

.tiptap p.is-editor-empty:first-child::before {
  @apply pointer-events-none float-left h-0 text-muted-foreground/50;
  content: attr(data-placeholder);
}

/* Show content before every */
.tiptap h1.is-empty::before,
.tiptap h2.is-empty::before,
.tiptap h3.is-empty::before,
.tiptap h4.is-empty::before,
.tiptap h5.is-empty::before,
.tiptap h6.is-empty::before {
  @apply pointer-events-none float-left h-0 text-muted-foreground/50;
  content: attr(data-placeholder);
}

/* Inline Code Block */
.tiptap p code {
  @apply bg-foreground/10 dark:bg-foreground/10;
}

/* Outer Code Block */
.tiptap pre {
  @apply rounded border border-y border-border bg-foreground/90 dark:bg-foreground/5;
}

/* Transition classes for the change effect  */
.tiptap p.transition-out {
  @apply scale-95 opacity-0; /* Fade out and slightly shrink */
}

.tiptap h1.transition-in {
  @apply scale-95 opacity-0; /* Initially hidden and slightly smaller */
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
